h2 {
  font-weight: 700;
  color: #0d6efd;
}

.card img {
  height: 180px;
  object-fit: cover;
}
.card-title {
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
